<section id="about">
  <div class="container">
    <h2><strong>About</strong></h2>
    <span class="bar-title mb-5"></span>
    <div class="row">
      <div class="col-lg-4 col-md-12" data-aos="fade-right">
        <picture>
          <img src="assets/images/profile.jpg" class="img-fluid" />
        </picture>
        <div class="d-flex justify-content-center">
          <a
            class="btn-social-media"
            href="https://www.linkedin.com/in/shem-mccollin/"
            rel="tooltip"
            target="_blank"
            title="Follow me on Linkedin"
          >
            <fa-icon class="social-icon" [icon]="linkedin"></fa-icon>
          </a>
          <a
            class="btn-social-media btn-default btn-round btn-lg btn-icon"
            href="https://github.com/shemmccollin"
            rel="tooltip"
            target="_blank"
            title="Follow me on GitHub"
          >
            <fa-icon class="social-icon" [icon]="github"></fa-icon
          ></a>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
        <h3>Senior Software Engineer</h3>
        <p>
          <i>I am delicated to creating amazing software that users enjoy.</i>
          <br />With 8+ years of experience in the software development
          industry, I focus on designing, developing, and maintaining software
          systems using various technologies such as <b>C#</b> ,
          <b>.NET Core</b>, <b>ASP.NET MVC</b>, <b>Angular</b>, <b>React</b>,
          <b>JavaScript</b>, <b>MongoDB</b>, <b>MS SQL</b>, <b>AWS</b> and
          <b>Azure</b>. Skilled in <b>Front-End</b>, <b>Back-End</b> and
          <b>Cloud</b> development. Passionate about solving complex problems
          with innovative solutions.
        </p>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <ul>
              <li>
                <fa-icon [icon]="mapMarker"></fa-icon
                ><strong> Mobile throughout USA</strong>
              </li>
              <li>
                <fa-icon [icon]="building"></fa-icon
                ><strong> Boston, Massachusetts</strong>
              </li>
              <li>
                <fa-icon [icon]="badge"></fa-icon
                ><strong> Master's Degree in Computer Science</strong>
              </li>
              <li>
                <fa-icon [icon]="email"></fa-icon
                ><strong
                  ><a href="mailto:shem.mccollin@outlook.com">
                    shem.mccollin&#64;outlook.com</a
                  ></strong
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
